# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
ENV/
.env
.pytest_cache/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Notebooks
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Model files
*.pkl
*.joblib
*.h5

# Log files
*.log

# OS specific
.DS_Store
myenv/
